@blue-001: #3f98fd;
@lightblue-001: #5ac5f3;
@green-001: #53c470;
@yellow-001: #faad14;
@orange-001: #fd633d;
@white-001: #ffffff;

@alv-primary-color: @blue-001;
@alv-secondary-color: @lightblue-001;
@alv-danger-color: @orange-001;
@alv-success-color: @green-001;
@alv-warning-color: @yellow-001;

@hover-opacity: .85;